<div class="modal-content">
      <div class="modal-header">            
            <h2 style="color: white;">CONFIGURAÇÕES DO CAMPEONATO</h2>
      </div>



      <div class="modal-body">

            
      </div>
</div>

