.jogo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width:100%;
  align-items: center;  
  padding-top: 0px;    
}

.jogo > .jogo-item:nth-child(1){
  text-align: center;
  width: 285px;
  height: 80px;
  --background-color: red;
}

.jogo > .jogo-item:nth-child(2){
  width: 70px;
  text-align: center;            
  font-size: 50px;
  align-items: center;
  color: black;
  padding: 5px 0 0 0;
  --background-color: yellow;
}

.jogo > .jogo-item:nth-child(3){
  width: 50px;
  text-align: center;
  color: #424242;
  font-size: 30px;
  padding: 5px 0 0 0;
  --background-color: green;
}

.jogo > .jogo-item:nth-child(4){
    width: 70px;
    text-align: center;            
    font-size: 50px;
    align-items: center;
    color: black;
    padding: 5px 0 0 0;
    --background-color: yellow;
}

.jogo > .jogo-item:nth-child(5){
    text-align: center;
    width: 285px;
    height: 80px;
    --background-color: red;
}

.jogo > .jogo-descricao:nth-child(1){
  width: 285px;
  padding: 0;
  font-size: 25px;
  text-align: center;
  margin: 5px 0 10px 0;
  color: black;
  --background-color: red;
}

.jogo > .jogo-descricao:nth-child(2){
  width:190px;
  --background-color: green;
}

.jogo > .jogo-descricao:nth-child(3){
  width: 285px;
  font-size: 25px;
  padding: 0;
  text-align: center;
  margin: 5px 0 10px 0;
  color: black;
  --background-color: yellow;
}

.jogo > .jogo-escalacao:nth-child(1){
  width: 370px;
  padding: 0;
  --background-color: brown;
  --height: 50px;
}     

.jogo > .jogo-escalacao:nth-child(2){
  width: 370px;
  padding: 0;
  --background-color: brown;
  --height: 50px;
}

.jogo > .jogo-mandante:nth-child(1){
  width: 300px;
  text-align: right;
  display: inline; 
  color: black;
  --background-color: yellow;
}

.jogo > .jogo-mandante:nth-child(2){
  width: 20px;
  --background-color: orange;            
}

.jogo > .jogo-mandante:nth-child(3){
  --width: 70px;
  text-align: center; 
  color: black;
  --background-color: pink;
}

.jogo > .jogo-visitante:nth-child(3){
  width: 300px;
  text-align: left;
  display: inline; 
  color: black;
  --background-color: yellow;
}

.jogo > .jogo-visitante:nth-child(2){
  width: 20px;
  --background-color: orange;            
}

.jogo > .jogo-visitante:nth-child(1){
  text-align: center; 
  color: black;
  --background-color: pink;
}

.jogadorMandante {
  width: 270px;
  text-align: right;
  padding: 5px 10px 0 0;
  font-size: 14px;
  color: #323232;
  font-weight: 600;
  display: initial;
}

.jogadorVisitante {
  width: 270px;
  text-align: left;
  padding: 5px 0 0 10px;
  font-size: 14px;
  color: #323232;
  font-weight: 600;
  display: initial;
}

.placarJogo {
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  text-align: center;
  margin: 0 0 3px 0;
  font-size: 17px;
  color: black;
}

.placarMandante {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 85px;
  height: 55px;
  text-align: right;
  margin: 0 0 3px 0;
  font-size: 60px;
  font-weight: 600;
}

.placarVisitante {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 85px;
  height: 55px;
  text-align: left;
  margin: 0 0 3px 0;
  font-size: 60px;
  font-weight: 600;
}

.botao {
  border-radius: 20px;
  margin: 4px;
  width: 20px;
  height: 20px;
  padding: 1px 0 0px 1px;
}

.botaoMais {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 12px;
  color: red;
  margin-top: 4px;
}

.botaoMenos {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    font-size: 12px;
    color: green;
}

.botaoJogo {
  width: 100%;
}

.rodapeJogo {
  padding-top: 15px;
}

.goleadores{
  font-size: 0.8em;
  padding: 0;
  margin-top: -10px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow:scroll; /* activa scroll da página se a modal for muito comprida */
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 800px;
  position: relative;
  margin: 3% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  --background: -o-linear-gradient(#fff, #999);

  --moz-box-shadow: 1px 1px 30px #000;
  -webkit-box-shadow: 1px 1px 30px #000;
  box-shadow: 1px 1px 30px #000;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  --moz-border-radius: 12px;
  border-radius: 12px;
  --moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}