@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1200px;
		min-width: 960px;
	}

	.container.\37 5\25 {
		width: 720px;
	}

	.container.\35 0\25 {
		width: 480px;
	}

	.container.\32 5\25 {
		width: 240px;
	}

	.container {
		width: 960px;
	}

	@media screen and (min-width: 737px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.container.\37 5\25 {
			width: 900px;
		}

		.container.\35 0\25 {
			width: 600px;
		}

		.container.\32 5\25 {
			width: 300px;
		}

		.container {
			width: 1300px;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 0 0 0 40px;
	}

	.row {
		margin: 0 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 80px;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 60px;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 20px;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 10px;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 60%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 35%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 40%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 32%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (min-width: 737px) {

		.row > * {
			padding: 50px 0 0 50px;
		}

		.row {
			margin: -70px 0 -20px -50px;
		}

		.row.uniform > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform {
			margin: -50px 0 -1px -50px;
		}

		.row.\32 00\25 > * {
			padding: 100px 0 0 100px;
		}

		.row.\32 00\25 {
			margin: -100px 0 -1px -100px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 100px 0 0 100px;
		}

		.row.uniform.\32 00\25 {
			margin: -100px 0 -1px -100px;
		}

		.row.\31 50\25 > * {
			padding: 75px 0 0 75px;
		}

		.row.\31 50\25 {
			margin: -75px 0 -1px -75px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 75px 0 0 75px;
		}

		.row.uniform.\31 50\25 {
			margin: -75px 0 -1px -75px;
		}

		.row.\35 0\25 > * {
			padding: 25px 0 0 25px;
		}

		.row.\35 0\25 {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform.\35 0\25 {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 5\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\32 5\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28desktop\29, .\39 u\24\28desktop\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28desktop\29, .\38 u\24\28desktop\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28desktop\29, .\37 u\24\28desktop\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28desktop\29, .\36 u\24\28desktop\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28desktop\29, .\35 u\24\28desktop\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28desktop\29, .\34 u\24\28desktop\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28desktop\29, .\33 u\24\28desktop\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28desktop\29, .\32 u\24\28desktop\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28desktop\29, .\31 u\24\28desktop\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28desktop\29 + *,
		.\31 1u\24\28desktop\29 + *,
		.\31 0u\24\28desktop\29 + *,
		.\39 u\24\28desktop\29 + *,
		.\38 u\24\28desktop\29 + *,
		.\37 u\24\28desktop\29 + *,
		.\36 u\24\28desktop\29 + *,
		.\35 u\24\28desktop\29 + *,
		.\34 u\24\28desktop\29 + *,
		.\33 u\24\28desktop\29 + *,
		.\32 u\24\28desktop\29 + *,
		.\31 u\24\28desktop\29 + * {
			clear: left;
		}

		.\-11u\28desktop\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28desktop\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28desktop\29 {
			margin-left: 75%;
		}

		.\-8u\28desktop\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28desktop\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28desktop\29 {
			margin-left: 50%;
		}

		.\-5u\28desktop\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28desktop\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28desktop\29 {
			margin-left: 25%;
		}

		.\-2u\28desktop\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28desktop\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.row > * {
			padding: 35px 0 0 35px;
		}

		.row {
			margin: -35px 0 -1px -35px;
		}

		.row.uniform > * {
			padding: 35px 0 0 35px;
		}

		.row.uniform {
			margin: -35px 0 -1px -35px;
		}

		.row.\32 00\25 > * {
			padding: 70px 0 0 70px;
		}

		.row.\32 00\25 {
			margin: -70px 0 -1px -70px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 70px 0 0 70px;
		}

		.row.uniform.\32 00\25 {
			margin: -70px 0 -1px -70px;
		}

		.row.\31 50\25 > * {
			padding: 52.5px 0 0 52.5px;
		}

		.row.\31 50\25 {
			margin: -52.5px 0 -1px -52.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 52.5px 0 0 52.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -52.5px 0 -1px -52.5px;
		}

		.row.\35 0\25 > * {
			padding: 17.5px 0 0 17.5px;
		}

		.row.\35 0\25 {
			margin: -17.5px 0 -1px -17.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 17.5px 0 0 17.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -17.5px 0 -1px -17.5px;
		}

		.row.\32 5\25 > * {
			padding: 8.75px 0 0 8.75px;
		}

		.row.\32 5\25 {
			margin: -8.75px 0 -1px -8.75px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 8.75px 0 0 8.75px;
		}

		.row.uniform.\32 5\25 {
			margin: -8.75px 0 -1px -8.75px;
		}

		.\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28tablet\29, .\39 u\24\28tablet\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28tablet\29, .\38 u\24\28tablet\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28tablet\29, .\37 u\24\28tablet\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28tablet\29, .\36 u\24\28tablet\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28tablet\29, .\35 u\24\28tablet\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28tablet\29, .\34 u\24\28tablet\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28tablet\29, .\33 u\24\28tablet\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28tablet\29, .\32 u\24\28tablet\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28tablet\29, .\31 u\24\28tablet\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28tablet\29 + *,
		.\31 1u\24\28tablet\29 + *,
		.\31 0u\24\28tablet\29 + *,
		.\39 u\24\28tablet\29 + *,
		.\38 u\24\28tablet\29 + *,
		.\37 u\24\28tablet\29 + *,
		.\36 u\24\28tablet\29 + *,
		.\35 u\24\28tablet\29 + *,
		.\34 u\24\28tablet\29 + *,
		.\33 u\24\28tablet\29 + *,
		.\32 u\24\28tablet\29 + *,
		.\31 u\24\28tablet\29 + * {
			clear: left;
		}

		.\-11u\28tablet\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28tablet\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28tablet\29 {
			margin-left: 75%;
		}

		.\-8u\28tablet\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28tablet\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28tablet\29 {
			margin-left: 50%;
		}

		.\-5u\28tablet\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28tablet\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28tablet\29 {
			margin-left: 25%;
		}

		.\-2u\28tablet\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28tablet\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 10px 0 0 10px;
		}

		.row {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 00\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\32 00\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\32 00\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\31 50\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.\31 50\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform.\31 50\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.\35 0\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\35 0\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\35 0\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.\32 5\25 > * {
			padding: 2.5px 0 0 2.5px;
		}

		.row.\32 5\25 {
			margin: -2.5px 0 -1px -2.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 2.5px 0 0 2.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -2.5px 0 -1px -2.5px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		font-size: 13.5pt;
		font-family: "Lato", sans-serif;
		background-color: #e3e9dc;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #5c6059;
		--letter-spacing: -1px;
	}

	h1, h2, h3, h4 {
		color: #007897;
		font-weight: normal;
	}

	h1 {
		text-transform: lowercase;
	}

	h2 {
		text-transform: lowercase;
		font-size: 1.6em;
		letter-spacing: -1px;
		margin-bottom: 1em;
	}

	h3, h4 {
		color: #283121;
		margin-bottom: 0.5em;
	}

	h3 {
		font-size: 1.2em;
		margin-bottom: 0.8em;
	}

	h4 {
		font-size: 1em;
	}

	p, ul {
		margin-bottom: 1.25em;
	}

	p {
		line-height: 1.8em;
	}

	strong {
		color: #474e43;
	}

	img.left {
		float: left;
		margin: 2px 1.25em 0 0;
	}

	img.top {
		margin: 4px 0 2.25em 0;
	}

	ul {
		padding: 0.25em 0 0 0;
	}

	a {
		color: #0f7693;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	* > p:last-child {
		margin-bottom: 0 !important;
	}

/* Reusable */

	article.blog-post {
		position: relative;
	}

		article.blog-post .comments {
			position: absolute;
			top: 0;
			right: 0;
			height: 32px;
			line-height: 24px;
			padding-left: 40px;
			background: url("images/icon-bubble.png") no-repeat;
		}

	ul.small-image-list li {
		overflow: hidden;
		margin-bottom: 1.5em;
	}

	ul.big-image-list li {
		overflow: hidden;
		margin-bottom: 2em;
	}

	ul.link-list li {
		border-top: solid 1px #ced0b7;
		padding: 0.75em 0 0 0;
		margin: 0.75em 0 0 0;
	}

		ul.link-list li:first-child {
			padding-top: 0;
			margin-top: 0;
			border-top: 0;
		}

/* Sub-menu */

	.vertical-menu {
		width: 200px; /* Set a width if you like */
	}

	.vertical-menu a {
		background-color: #eee; /* Grey background color */
		color: black; /* Black text color */
		display: block; /* Make the links appear below each other */
		padding: 12px; /* Add some padding */
		text-decoration: none; /* Remove underline from links */
	}

	.vertical-menu a:hover {
		background-color: #ccc; /* Dark grey background on mouse-over */
	}

	.vertical-menu a.active {
		background-color: #036a81; /* Add a green color to the "active/current" link */
		color: white;
	}

/* Cabeçalho */
	body {margin:0;}

	.navbar-default .navbar-nav > li > a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 15px 16px;
	text-decoration: none;
	font-size: 19px;
	}

	.navbar-default .navbar-nav > li > a:hover {
	background-color: orange;
	color: black;
	}

	.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: black;
	}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
	background-color: orange;
	}

	.dropdown-menu > li > a {
	color: #dbd4d4;
	}

	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	color: black;
	background-color: orange;
	}

	.barra{
	margin-bottom: 0;
	border: 0;
	background-color: black;
	}

	.navbar-default .navbar-brand {
	color: orange;
	font-size: 2em;
	}

	.logotipo {
	float: left;
	height: 50px;
	padding: 15px 20px;
	font-size: 2em;
	line-height: 20px;
	color: orange;
	}


/* Campos de cadastro */

	.\34 u, .\34 u\$ {
		width: 50%;
	}

	.\38 u, .\38 u\$ {
		width: 50%;
	}

	input[type=text], select, textarea{
		width: 100%;
		padding: 7px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		resize: vertical;
	}

	input[type=date], select, textarea{
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		resize: vertical;
	}

	label {
		padding: 12px 12px 12px 0;
		display: inline-block;
	}

	input[type=submit] {
		background-color: #036a81;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		float: right;
	}

	input[type=submit]:hover {
		background-color: #45a049;
	}

	.selectCadastro {
		padding: 7px;
	}

	.col-25 {
		float: left;
		width: 18%;
		margin-top: 6px;
	}

	.col-75 {
		float: left;
		width: 82%;
		margin-top: 6px;
	}

	.col-in30 {
		float: left;
		width: 30%;
	}

	.col-in12 {
		float: left;
		width: 12.8%;
	}

	.col-in25 {
		float: left;
		width: 25%;
		margin-top: 6px;
	}
	
	.col-in5 {
		width: 5%;
		text-align: center;
		font-size: 35px;
		float: left;
	}

	.col-select {
		float: left;
		width: 82%;
	}

	.col-descricao-select {
		float: none;
		width: 18%;
		margin-top: 6px;
	  }

	.row2:after {
		content: "";
		display: table;
		clear: both;
	} 
	
	.grupo-select {
		padding: 15px 50px;
	}

	.cadastro {
		margin: 0px 0 30px 0;
	}

	.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
		--background: #fff url(imagens/invalid2.png) no-repeat 98% center;
		box-shadow: 0 0 5px #d45252;
		border-color: #b03535
	}

	.contact_form input:required:valid, .contact_form textarea:required:valid { /* when a field is considered valid by the browser */
		--background: #fff url(imagens/valid.png) no-repeat 98% center;
	}

	.leitura {
		background: #d4d4d4;
	  }

/* Titulo do cadastro */
	.content-header {
		margin: 0 0 60px 0;
		position: relative;
		border-radius: 3px;
		background: #ffffff;
		border-bottom: 3px solid #d2d6de;
		border-bottom-color: rgb(210, 214, 222);
		border-top-color: rgb(210, 214, 222);
		margin: -30px 0 30px 0;
		width: 100%;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		border-bottom-color: #ff9d3e;
	}
	
	.tituloPagina {
		margin-bottom: 15px;
		font-size: 30px;
		padding-bottom: 5px;
	}

/* Dialogo jQuery */
	.ui-draggable {
		min-width: 500px !important;
		max-width: 600px !important; 
	}     

	.ui-widget-content {
		background: #e3e9dc !important;
	} 

	.ui-dialog-titlebar {
		background-color: #007f9f !important;
		color: #dddbdb !important;
	}      

	.botaoTimes {
		padding: 10px 0;
		width: 100%;
	}

	.ui-dialog-titlebar-close {
	 	display: none !important;
	}

/* Botões */
	
	.botoes {
		padding-top: 15px;
	}

	.desabilitado {
		background: #ccc;
	}

	.salvar {
		margin-right: 15px;
		height: 40px;
		padding: 0 25px 0 25px;
		text-transform: none;
		border-radius: 6px;
		font-size: 1em;
		font-family: inherit
	}

	.excluir {
		margin-right: 15px;
		height: 40px;
		padding: 0 25px 0 25px;
		text-transform: none;
		border-radius: 6px;                        
		background-image: linear-gradient(#f86969, #fe3333, #ff1b1b);
		border: solid 1px red;
		box-shadow: inset 0px 0px 0px 1px #ff7070;
		font-size: 1em;
	}

	.cancelar {
		margin-right: 15px;
		height: 40px;
		padding: 0 25px 0 25px;
		text-transform: none;
		border-radius: 6px;                        
		background-image: linear-gradient(#9f9e9e, #818181, #ababab);
		border: solid 1px #939191;
		box-shadow: inset 0px 0px 0px 1px #c0bfbf;
		font-size: 1em;
	}

	.excluir:hover {
		background-image: -moz-linear-gradient(top, #fe9797, #fb5959);
		background-image: -webkit-linear-gradient(top, #fe9797, #fb5959);			
		background-image: linear-gradient(#fe9797, #fe9797, #fb5959);
		background-color: #fb5959;
		box-shadow: inset 0px 0px 0px 1px #ff8c8c;
	}

	.cancelar:hover {
		background-image: -moz-linear-gradient(top, #9f9e9e, #c8c8c8);
		background-image: -webkit-linear-gradient(top, #9f9e9e, #c8c8c8);			
		background-image: linear-gradient(#9f9e9e, #9f9e9e, #c8c8c8);
		background-color: #c8c8c8;
		box-shadow: inset 0px 0px 0px 1px #929292;
	}

	.btnSalvar {
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #3498db, #007294);
		background-image: -moz-linear-gradient(top, #3498db, #007294);
		background-image: -ms-linear-gradient(top, #3498db, #007294);
		background-image: -o-linear-gradient(top, #3498db, #007294);
		background-image: linear-gradient(to bottom, #3498db, #007294);
		-webkit-border-radius: 5;
		-moz-border-radius: 5;
		border-radius: 5px;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #ffffff;
		font-size: 20px;
		padding: 2px 20px 3px 20px;
		text-decoration: none;
	    }
	    
	.btnSalvar:hover {
		background: #3cb0fd;
		background-image: -webkit-linear-gradient(top, #3cb0fd, #0380d4);
		background-image: -moz-linear-gradient(top, #3cb0fd, #0380d4);
		background-image: -ms-linear-gradient(top, #3cb0fd, #0380d4);
		background-image: -o-linear-gradient(top, #3cb0fd, #0380d4);
		background-image: linear-gradient(to bottom, #3cb0fd, #0380d4);
		text-decoration: none;
	}

	.btnExcluir {
		background: #d93434;
		background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
		background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
		background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
		background-image: -o-linear-gradient(top, #d93434, #b82b2b);
		background-image: linear-gradient(to bottom, #d93434, #b82b2b);
		-webkit-border-radius: 5;
		-moz-border-radius: 5;
		border-radius: 5px;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #ffffff;
		font-size: 20px;
		padding: 2px 20px 3px 20px;
		text-decoration: none;
		margin-left: 15px;
	}

	.btnExcluir:hover {
		background: #fc3c3c;
		background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
		background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
		background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
		background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
		background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
		text-decoration: none;
	}

	.btnCancelar {
		background: #c9c9c9;
		background-image: -webkit-linear-gradient(top, #c9c9c9, #a6a6a6);
		background-image: -moz-linear-gradient(top, #c9c9c9, #a6a6a6);
		background-image: -ms-linear-gradient(top, #c9c9c9, #a6a6a6);
		background-image: -o-linear-gradient(top, #c9c9c9, #a6a6a6);
		background-image: linear-gradient(to bottom, #c9c9c9, #a6a6a6);
		-webkit-border-radius: 5;
		-moz-border-radius: 5;
		border-radius: 5px;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #ffffff;
		font-size: 20px;
		padding: 2px 15px 3px 15px;
		text-decoration: none;
		margin-left: 15px;
	}

	.btnCancelar:hover {
		background: #dedede;
		background-image: -webkit-linear-gradient(top, #dedede, #d1d1d1);
		background-image: -moz-linear-gradient(top, #dedede, #d1d1d1);
		background-image: -ms-linear-gradient(top, #dedede, #d1d1d1);
		background-image: -o-linear-gradient(top, #dedede, #d1d1d1);
		background-image: linear-gradient(to bottom, #dedede, #d1d1d1);
		text-decoration: none;
	}

	.button {
		background-image: -moz-linear-gradient(#008dad, #008dad, #007b9d);
		background-image: -webkit-linear-gradient(#008dad, #008dad, #007b9d);
		background-image: linear-gradient(#008dad, #008dad, #007b9d);
		display: inline-block;
		padding: 15px 25px 15px 25px;
		background-color: #007b9d;
		border-radius: 10px;
		text-transform: lowercase;
		text-decoration: none;
		color: #fff;
		font-size: 1.2em;
		letter-spacing: -1px;
		border: solid 1px #006e8b;
		box-shadow: inset 0px 0px 0px 1px #18a8c8;
	}

	.button:hover {
		background-image: -moz-linear-gradient(top, #1b9fbe, #118eb1);
		background-image: -webkit-linear-gradient(top, #1b9fbe, #118eb1);			
		background-image: linear-gradient(#1b9fbe, #1b9fbe, #118eb1);
		background-color: #118eb1;
		box-shadow: inset 0px 0px 0px 1px #3ecceb;
	}

	.botaoProximo {
		background-image: -moz-linear-gradient(#fe8005, #fe8005, #fe9c3e);
		background-image: -webkit-linear-gradient(#fe8005, #fe8005, #fe9c3e);
		background-image: linear-gradient(#fe8005, #fe8005, #fe9c3e);
		display: inline-block;
		padding: 3px 20px 5px 20px;
		background-color: #fe9c3e;
		border-radius: 10px;
		text-transform: lowercase;
		text-decoration: none;
		color: #fff;
		font-size: 1.2em;
		letter-spacing: -1px;
		border: solid 1px #cf7c00;
		box-shadow: inset 0px 0px 0px 1px #ce8909;
	}

	.botaoProximo:hover {
		background-image: -moz-linear-gradient(top, #ffae51, #ffcc51);
		background-image: -webkit-linear-gradient(top, #ffae51, #ffcc51);			
		background-image: linear-gradient(#ffae51, #ffae51, #ffcc51);
		background-color: #ffcc51;
		box-shadow: inset 0px 0px 0px 1px #ffa43b;
	}


	.checkboxFour {
		width: 40px;
		height: 40px;
		background: #ddd;
		margin: 5px 0px;
		border-radius: 100%;
		position: relative;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	}

	.checkboxFour label {
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 100px;

		transition: all .5s ease;
		cursor: pointer;
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 1;

		background: #333;
		box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	}

	.checkboxFour input[type=checkbox]:checked + label {
		background: #26ca28;
	}

	.col-ch25 {
		float: left;
		margin-top: 0px;
	}

/* Desktop + Tablet */
@media screen and (min-width: 737px) {

	/* Basic */

		body {
			min-width: 1200px;
		}

		section, article {
			margin: 0 0 60px 0;
		}

		section:last-child, article:last-child {
			margin-bottom: 0;
		}

		section.left-content {
			padding-right: 30px;
		}

		section.right-content {
			padding-left: 30px;
		}

		section.middle-content {
			padding: 0;
		}

		ul.small-image-list img {
			width: 78px;
		}

		ul.big-image-list img {
			width: 178px;
		}

	/* Reusable */

		.blog-post-image {
			width: 100%;
		}	

	/* Header */

		#header-wrapper {
			background-image: -moz-linear-gradient(top, #008dab, #007294);
			background-image: -webkit-linear-gradient(top, #008dab, #007294);
			background-image: linear-gradient(#008dab, #008dab, #007294);
			background-color: #007294;
		}

		#header {
			background-image: -moz-linear-gradient(top, #008ead, #007b9d);
			background-image: -webkit-linear-gradient(top, #008ead, #007b9d);
			background-image: linear-gradient(#008ead, #008ead, #007b9d);
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			-ms-box-sizing: content-box;
			box-sizing: content-box;
			position: relative;
			margin: 2.5% 0 2.5% 0;
			padding: 0 40px 0 40px;
			border-radius: 10px;
			border: solid 1px #006e8b;
			box-shadow: inset 0px 0px 0px 1px #12a0bf, 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
			background-color: #007b9d;
			height: 86px;
		}

			#header h1 {
				position: absolute;
				left: 40px;
				top: 0;
				color: #fff;
				font-size: 2.4em;
				letter-spacing: -2px;
				line-height: 86px;
			}

				#header h1 a {
					color: #FFF;
					text-decoration: none;
				}

			#header nav {
				position: absolute;
				right: 40px;
				top: 1px;
				line-height: 84px;
				text-transform: lowercase;
				font-size: 1.3em;
				letter-spacing: -1px;
			}

				#header nav a {
					display: inline-block;
					text-decoration: none;
					color: #fff;
					padding: 0 25px 0 25px;
					outline: 0;
				}

					#header nav a.current-page-item {
						background-image: -moz-linear-gradient(top, #007b99, #007897);
						background-image: -webkit-linear-gradient(top, #007b99, #007897);
						background-image: linear-gradient(#007b99, #007b99, #007897);
						background-color: #007897;
						box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px 1px rgba(255, 255, 255, 0.1);
						color: #fff;
					}

					#header nav a:hover {
						background-image: -moz-linear-gradient(top, #0782a0, #077d9b);
						background-image: -webkit-linear-gradient(top, #0782a0, #077d9b);
						background-image: linear-gradient(#0782a0, #0782a0, #077d9b);
						background-color: #0882a1;
						box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.05), 0px 0px 5px 1px rgba(255, 255, 255, 0.05);
					}

	/* Banner */

		#banner-wrapper {
			background: #c8d2bc url(images/bg1.png);
			padding: 2em 0;
		}

		/*
		#banner {
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			-ms-box-sizing: content-box;
			box-sizing: content-box;
			position: relative;
			width: 1160px;
			height: 265px;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			padding: 20px;
			background: #fff url(images/banner.jpg) no-repeat 20px 20px;
			background-size: 1160px 265px;
		}
		*/

		#banner {
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			-ms-box-sizing: content-box;
			box-sizing: content-box;
			position: relative;
			width: 1160px;
			height: 150px;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			padding: 20px;
			background: #fff url(images/banner.jpg) no-repeat 20px 20px;
			background-size: 1160px 150px;
		}

			#banner h2 {
				position: absolute;
				z-index: 1;
				width: 100%;
				top: 100px;
				left: 0;
				font-size: 3.3em;
				color: #fff;
				text-align: center;
				letter-spacing: -2px;
			}

			#banner span {
				display: block;
				position: absolute;
				z-index: 1;
				width: 100%;
				bottom: 105px;
				left: 0;
				font-size: 1.6em;
				color: #fff;
				text-align: center;
				letter-spacing: -1px;
				text-transform: lowercase;
				opacity: 0.8;
			}

	/* Main */

		#main {
			background: #fff;
			padding: 4em 0;
		}

	/* Footer */

		#footer-wrapper {
			padding: 1em 0;
		}

	/* Copyright */

		#copyright {
			text-align: center;
			color: #A6A88F;
			border-top: solid 1px #ced0b7;
			padding: 1em 0 0 0;
			margin: 1% 0 0 0;
		}

			#copyright a {
				color: #A6A88F;
			}

}


/* Tablet Only */

@media screen and (min-width: 737px) and (max-width: 1200px) {

	/* Basic */

		body {
			min-width: 1000px;
		}

	/* Reusable */

		ul.small-image-list img {
			width: 50px;
		}

		ul.big-image-list img {
			width: 75px;
		}

	/* Header */

		#header {
			height: 76px;
		}

			#header h1 {
				font-size: 2em;
				line-height: 76px;
			}

			#header nav {
				line-height: 74px;
				font-size: 1.1em;
			}

				#header nav a {
					padding: 0 20px 0 20px;
				}

	/* Banner */

		#banner {
			width: 960px;
			height: 220px;
			background-size: 960px 220px;
		}

			#banner h2 {
				font-size: 3em;
				top: 80px;
			}

			#banner span {
				font-size: 1.4em;
				bottom: 85px;
			}

	/* Footer */

		#footer-wrapper {
			padding: 5% 0 5% 0;
		}

	/* Copyright */

		#copyright {
			padding: 3em 0 0 0;
			margin: 5% 0 0 0;
		}

}

/* @media (max-width: 600px) */

	@media (max-width: 600px) {
		.col-25, .col-75, input[type=submit] {
			width: 100%;
			margin-top: 0;
		}
	}

/* Mobile Only */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body {
				font-size: 13pt;
			}

			h2 {
				font-size: 1.4em;
			}

			h3 {
				font-size: 1.2em;
			}

			h4 {
				font-size: 1em;
			}

		/* Reusable */

			ul.small-image-list img {
				width: 75px;
			}

			ul.big-image-list img {
				width: 75px;
			}

			ul.link-list {
				margin: 0 0 2em 0;
			}

			section, article {
				padding: 40px 20px 40px 20px;
			}

			#main section, #main article {
				background: #fff;
			}

			article.blog-post .comments {
				display: block;
				position: relative;
				top: -0.5em;
				margin: 0 0 0.5em 0;
			}

			.button {
				font-size: 1em;
			}

			.blog-post-image {
				width: 100%;
			}

		/* Header */

			#header-wrapper {
				background-image: -moz-linear-gradient(top, #008dab, #007294);
				background-image: -webkit-linear-gradient(top, #008dab, #007294);
				background-image: linear-gradient(#008dab, #008dab, #007294);
				background-color: #007294;
			}

			#header {
				display: none;
			}

		/* Banner */

			#banner-wrapper {
				background: #c8d2bc url(images/bg1.png);
				display: none;
			}

			#banner {
				position: relative;
				width: 100%;
				height: 240px;
				background: #fff url(images/banner.jpg) no-repeat;
				background-size: 100% 100%;
				position: relative;
			}

				#banner h2 {
					position: absolute;
					z-index: 1;
					width: 100%;
					bottom: 80px;
					left: 0;
					font-size: 2em;
					color: #fff;
					text-align: center;
					letter-spacing: -2px;
				}

				#banner span {
					display: block;
					position: absolute;
					z-index: 1;
					width: 100%;
					top: 135px;
					left: 0;
					font-size: 1em;
					color: #fff;
					text-align: center;
					letter-spacing: -1px;
					text-transform: lowercase;
					opacity: 0.8;
				}

		/* Main */

			#main {
				margin-top: 44px;
			}

		/* Footer */

			#footer-wrapper section, #footer-wrapper article {
				border-bottom: solid 1px #ced0b7;
			}

		/* Copyright */

			#copyright {
				text-align: center;
				color: #A6A88F;
				padding: 40px;
				font-size: 0.8em;
				line-height: 1.5em;
			}

				#copyright a {
					color: #A6A88F;
				}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#titleBar {
				background-image: -moz-linear-gradient(top, #008dab, #007294);
				background-image: -webkit-linear-gradient(top, #008dab, #007294);
				background-image: linear-gradient(#008dab, #008dab, #007294);
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				text-align: center;
				color: #fff;
				font-size: 1.25em;
				background-color: #007294;
			}

			#titleBar .title {
				line-height: 44px;
			}

			#titleBar .toggle {
				position: absolute;
				top: 0;
				left: 0;
				width: 80px;
				height: 60px;
			}

			#titleBar .toggle:after {
				content: '';
				position: absolute;
				left: 4px;
				top: 4px;
				color: #fff;
				text-align: center;
				line-height: 31px;
				font-size: 0.8em;
				width: 50px;
				height: 35px;
				border-radius: 5px;
				box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 6px 13px 0px rgba(255, 255, 255, 0.2), 0px 2px 2px 0px rgba(255, 255, 255, 0.1);
			}

			#titleBar .toggle:before {
				content: '';
				position: absolute;
				width: 20px;
				height: 30px;
				background: url("images/mobileUI-site-nav-opener-bg.svg");
				top: 16px;
				left: 19px;
			}

			#titleBar .toggle:active:after {
				background: rgba(0, 0, 0, 0.2);
			}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #00536F;
				color: #fff;
				box-shadow: inset -10px 0px 40px 0px rgba(0, 0, 0, 0.5);
			}

				#navPanel .link {
					display: block;
					color: #fff;
					border-top: solid 1px rgba(255, 255, 255, 0.1);
					border-bottom: solid 1px rgba(0, 0, 0, 0.2);
					height: 55px;
					line-height: 55px;
					padding: 0 15px 0 15px;
					text-decoration: none;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

					#navPanel .link:last-child {
						border-bottom: 0;
					}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

	}