.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	
}

.closeModal {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.closeModal:hover { 
      background: #00d9ff;
}

.demoHeaders {
      margin-top: 2em;
}

#dialog-link {
      padding: .4em 1em .4em 20px;
      text-decoration: none;
      position: relative;
}

#dialog-link span.ui-icon {
      margin: 0 5px 0 0;
      position: absolute;
      left: .2em;
      top: 50%;
      margin-top: -8px;
}

#icons {
      margin: 0;
      padding: 0;
}

#icons li {
      margin: 2px;
      position: relative;
      padding: 4px 0;
      cursor: pointer;
      float: left;
      list-style: none;
}

#icons span.ui-icon {
      float: left;
      margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
      position: absolute;
}

#dialog-link {
      padding: .4em 1em .4em 20px;
      text-decoration: none;
      position: relative;
}

#dialog-link span.ui-icon {
      margin: 0 5px 0 0;
      position: absolute;
      left: .2em;
      top: 50%;
      margin-top: -8px;
}

#icons {
      margin: 0;
      padding: 0;
}

#icons li {
      margin: 2px;
      position: relative;
      padding: 4px 0;
      cursor: pointer;
      float: left;
      list-style: none;
}

#icons span.ui-icon {
      float: left;
      margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
      position: absolute;
}

.selectConfiguracoes {
      width: 100%;
      padding: 6px;
      font-size: 0.7em;
}

.configuracoes {
      font-size: 0.9em;
}

fieldset {
      display: block;
      min-width: -webkit-min-content;
      border-width: 2px;
      border-style: groove;
      border-color: threedface;
      border-image: initial;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 1.2em;
}

.modal-header {
      padding: 5px 0;
      background-color: #fe8005 !important;
      text-align: center;
      margin-bottom: 20px;
  }

  legend {
      width: auto !important;
  }

  h2 {
      margin-bottom: 0 !important;
  }

  /* The caixaDialogo */
.caixaDialogo {
      display: block;
      position: relative;
      padding: 0 30px;
      margin: 5px 0px 15px 0;
      cursor: pointer;
      font-size: 0.9em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .caixaDialogo input {
      position: absolute;
      opacity: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #dddddd;
  }
  
  /* On mouse-over, add a grey background color */
  .caixaDialogo:hover input ~ .checkmark {
      background-color: #bbbbbb;
  }
  
  /* When the checkbox is checked, add a blue background */
  .caixaDialogo input:checked ~ .checkmark {
      background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the checkmark when checked */
  .caixaDialogo input:checked ~ .checkmark:after {
      display: block;
  }
  
  /* Style the checkmark/indicator */
  .caixaDialogo .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      font-size: 0.9em;
  }
  
  /* The containerRadio */
  .containerRadio {
      display: block;
      position: relative;
      padding: 0 30px;
      margin: 5px 0px 15px 0;
      cursor: pointer;
      font-size: 0.9em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .containerRadio input {
      position: absolute;
      opacity: 0;
  }
  
  /* Create a custom radio button */
  .checkmarkRadio {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #dddddd;
      border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerRadio:hover input ~ .checkmarkRadio {
      background-color: #bbbbbb;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerRadio input:checked ~ .checkmarkRadio {
      background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmarkRadio:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerRadio input:checked ~ .checkmarkRadio:after {
      display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerRadio .checkmarkRadio:after {
         top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
  }
      
  .modal a.close-modal {
      background: none !important;
  }

  .rodapeJogo {
      text-align: right;
      height: 35px;
  }