div.tab {
      overflow: hidden;
      border: 1px solid #0084a4;
      background-color: #ededed;
  }
  
  /* Style the buttons inside the tab */
  div.tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  div.tab button:hover {
      background-color: #ffe3af;
  }
  
  /* Create an active/current tablink class */
  div.tab button.active {
      background-color: #ffa500;
  }
  
  /* Style the tab content */
  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #0084a4;
      border-top: none;
  }
  
  
  
  .tabela {
      position: relative;
      border-radius: 3px;
      background: none;
      margin-bottom: 20px;
      border-top: none;
  }
  
  table.tabela1 tbody tr:nth-child(odd){
     background-color: #E9E9E9;
  }
  
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {     
        line-height: 15px;
  }

  tr, th, td {
      padding-top: 15px;
      vertical-align: middle;
  }

  h3 {
      font-size: 1.2em;
      margin: 0;
  }

  .rodada {
      color: red;
      --padding: 15px 0 5px 0;
  }
  
  .nomeMandante {
        text-align: right;
        padding-right: 15px;
        --font-size: 18px;
        width: 350px;
  }
  
  .distintivoMandante{
        text-align: center;
       width: 35px;
  }
  
  .placar{
        text-align: center;
        --font-size: 18px;      
        --padding-top: 15px;
       width: 110px;
  }
  
  .nomeVisitante {
        text-align: left;
        padding-left: 15px;
        --font-size: 18px;
        width: 350px;
  }
  
  .distintivoVisitante{
        text-align: center;
        width: 35px;
  }
  
  .box-body {   
        padding-bottom: 15px;
  }
  
  .col-md-4 {
      min-width: 455px;
      padding-right: 0;
  }

  .box.box-solid.box-success {
    border: 1px solid #0084a4;
    margin-bottom: 20px;
}

.cabecalhoTabela {
    text-align: center;
    height: 43px;
    padding-top: 12px;
    background: #007a99;
}

.fundoCadastro {
    background: #004151;
}

.textoCabecalho {
    font-size: 20px;
    font-style: normal;
    color: white;
}

.tabela1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
}

.box-body {
      padding-bottom: 0px;
}

.thead-default {
    text-align: left;
}

.linha {
    padding: 8px;
}

.linhaCabecalho {
    padding: 8px;
    color: white;
    text-align: left;
}

.cabecalho {
    font-weight: bold;  
}


